richpref[type="string"] {
    -moz-binding: url("chrome://weave/content/richpref.xml#richpref-string");
}

richpref[type="disabled"] {
    -moz-binding: url("chrome://weave/content/richpref.xml#richpref-disabled");
}

#synced-tabs-panel {
    background: rgb(87, 87, 87);
}

richlistitem[type="remotetab"] {
    -moz-binding: url("chrome://weave/content/tabs.xml#remotetab");
}

.remote-tab-label {
    color: black;
    background-color: white;
    font-size: smaller !important;
}

.remote-tab-bounding-box {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 5px;
    overflow: hidden;
}

.favicon {
    width: 32px;
    height: 32px;
}

.square-button-not-selected {
    padding: 5px;
    margin: 0px;
    -moz-border-radius: 0px;
}

.square-button-selected {
    padding: 5px;
    margin: 0px;
    -moz-border-radius: 0px;
    -moz-box-shadow: inset -2px -2px 10px -2px black;
}
