richpref[type="string"] {
    -moz-binding: url("chrome://weave/content/richpref.xml#richpref-string");
}

richpref[type="disabled"] {
    -moz-binding: url("chrome://weave/content/richpref.xml#richpref-disabled");
}

#synced-tabs-panel {
    background: rgb(87, 87, 87);
}

richlistitem[type="remotetab"] {
    -moz-binding: url("chrome://weave/content/tabs.xml#remotetab");
    padding-top: 2px;
    padding-bottom: 5px;
}

#retrievetab-button {
  list-style-image: url("chrome://weave/skin/weave-default-64.png");
}

#retrievetab-button:hover:active {
  list-style-image: url("chrome://weave/skin/weave-active-64.png");
}

#remote-tabs-richlist {
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.remote-tab-title {
    color: black;
    background-color: white;
    font-size: medium !important;
}

.remote-tab-url {
    color: grey;
    background-color: white;
    font-size: small !important;
}

.remote-tab-source-client {
    color: grey;
    background-color: white;
    font-size: small !important;
}

.remote-tab-bounding-box {
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
    padding: 5px;
    overflow: hidden;
}

.favicon {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
