#sync-menu-button, #sync-menu-button[status="offline"] {
  list-style-image: url("chrome://weave/skin/sync-16x16.png");
}

#sync-menu-button[status="idle"] {
  list-style-image: url("chrome://weave/skin/sync-16x16.png");
}

#sync-menu-button[status="active"] {
  list-style-image: url("chrome://weave/skin/sync-throbber-16x16-active.apng");
}
