#sync-auth-icon[state="disabled"] {
  list-style-image: url("chrome://weave/skin/auth-disabled.png");
}

#sync-auth-icon[state="enabled"] {
  list-style-image: url("chrome://weave/skin/auth-enabled.png");
}

#sync-auth-icon[state="auto"] {
  list-style-image: url("chrome://weave/skin/auth-auto.png");
}


/* Show the appropriate part of the panel based on the current state. */

#sync-auth-popup-disabled,
#sync-auth-popup-enabled,
#sync-auth-popup-auto {
  display: none;
}

#sync-auth-popup[state="disabled"] > #sync-auth-popup-disabled {
  display: -moz-box;
}

#sync-auth-popup[state="enabled"] > #sync-auth-popup-enabled {
  display: -moz-box;
}

#sync-auth-popup[state="auto"] > #sync-auth-popup-auto {
  display: -moz-box;
}
