/* Wizard */

wizard {
  background-image: url(chrome://weave/skin/wizard-background.png);
  -moz-appearance: none;
  padding: 14px;
}

.wizard-header {
  -moz-border-radius-topright: 15px;
  -moz-border-radius-topleft: 15px;
  margin-top: 70px;
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: none;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
}

.wizard-page-box {
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
}

.wizard-header, .wizard-page-box {
  -moz-appearance: none;
  background-color: #FFFFFF;
  opacity: 0.8;
}

.wizard-buttons-separator {
  display: none;
}

.header {
  font-weight: bold;
}

/* Path chooser buttons */

#welcome-spacer-left, #welcome-spacer-right {
  width: 35px;
}
#welcome-spacer-center {
  width: 50px;
}

.welcome-button-group vbox {
  width: 210px;
  margin-top: 20px;
}
.welcome-button-group .welcome-button {
  background-image: url("chrome://weave/skin/button-up.png");
  background-repeat: no-repeat;
  height: 85px;
}
.welcome-button-group .welcome-button:hover {
  background-image: url("chrome://weave/skin/button-down.png");
  background-repeat: no-repeat;
  height: 85px;
}
.welcome-button-group .welcome-button label {
  font-size: small;
  margin-top: 30px;
  width: 180px;
  text-align: center;
}
.welcome-button-group description {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 10px;
}

/* Password/passphrase pages */

#password, #passphrase,
#password-create-field, #reenter-password-field,
#passphrase-create-field, #reenter-passphrase-field {
  -moz-binding: url("chrome://global/content/bindings/textbox.xml#timed-textbox");
}

.hint {
  color: #6f6f6f;
}

