html {
  padding: 10px 0;
}

body {
  background: #fff url(chrome://weave/skin/background.png) repeat-x center top;
  color: #787878;
  font-family: "Nokia Sans", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0 auto;
  padding: 0px;
}

.logo {
  padding-top: 6px;
}

.welcome {
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  line-height: 22px;
  margin: 0px auto;
  max-width: 680px;
  text-align: left;
}

#container {
  height: 300px;
  margin: 0px auto;
  padding: 0px 40px;
  position: relative;
  text-align: center;
  top: 0px;
  z-index: 1;
}

.step {
  background: #fff url(chrome://weave/skin/step_bg.png) no-repeat left bottom;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 36px;
  margin: 4px auto;
  max-width: 680px;
  padding: 8px auto;
  text-align: left;
}

.button {
  background: -moz-linear-gradient(top,
    #999999 0%,
    #666666 10%,
    #444444 98%,
    #888888 100%);
  border: 0px;
  -moz-border-radius: 0.4em;
  -moz-box-shadow:
    inset rgba(0, 0, 0, 0.8) 0 1px 1px,
    inset rgba(255, 255, 255, 0.6) 0 1px 1px,
    inset rgba(0, 0, 0, 0.2) 0 -1px 1px,
    inset rgba(0, 0, 0, 0.1) 0 -2px 1px,
    rgba(255, 255, 255, 1) 0 1px 0,
    rgba(133, 153, 166, 0.3) 0px 1px 12px;
  color: rgba(255, 255, 255, 1);
  display: inline;
  font-size: 24px;
  height: 46px;
  margin: 12px auto;
  padding: 4px 16px;
}
