.success, .error {
  padding: 2px;
  -moz-border-radius: 2px;
}

.error {
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}

.success {
  background-color: #00FF00 !important;
}

.warning {
  font-weight: bold;
}

.mainDesc {
  font-weight: bold;
  font-size: 110%;
}

.small {
  font-size: 90%;
}

.mergeChoiceButton {
  -moz-appearance: none;
  background-color: #CCCCCC;
  -moz-border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCCC;
}

.mergeChoiceButton#doMerge {
  min-height: 8em;
}

.mergeChoiceButton:focus,
.mergeChoiceButton:hover {
  background-color: #AAAAAA;
  cursor: pointer;
  border-color: #222222 !important;
}

.mergeChoiceButton[selected="true"] {
  background-color: #888888;
  border-color: black !important;
}

.mergeChoiceButtonBox {
  padding: 0.5em;
  max-width: 425px;
}

.mergeChoiceBFBox {
  max-width: 555px;
}

.mergeChoiceImage {
  padding: 0.5em;
}
