.success, .error {
  padding: 2px;
  -moz-border-radius: 2px;
}

.error {
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}

.success {
  background-color: #00FF00 !important;
}

.warning {
  font-weight: bold;
}

.mainDesc {
  font-weight: bold;
}

.small {
  font-size: 90%;
}

.mergeChoiceButton {
  height: 250px;
  -moz-appearance: none;
  background-color: #CCCCCC;
  -moz-border-radius: 7px;
}

.mergeChoiceButton:focus,
.mergeChoiceButton:hover {
  background-color: #AAAAAA;
  cursor: pointer;
}

.mergeChoiceButton:hover:active {
  background-color: #888888;
}

.mergeChoiceButtonBox {
  width: 140px;
}

.mergeChoiceImage {
  -moz-padding-start: 20px;
  padding-top: 6px;
  padding-bottom: 7px;  
}