@media all and (max-width: 800px) {

#container {
    top: -175px;
}

.logo {
    display: none;
}

#bubble {
    margin: -60px auto 0;
}

input[type=button], input[type=button][disabled] {
    font-size: 2em;
}

input[type=text], input[type=password] {
    font-size: 2.5em;
    width: 10em;
}

.bubble h1 {
    font-size: 1.5em;
}

.bubble label {
    font-size: 1.5em;
}

.bubble p, .bubble a {
    font-size: 1.2em;
    line-height: 1.2em;
}

#top-menu li {
    font-size: 1.5em;
}

#status {
    padding-bottom: 75px;
}


}
