body {
    color: black;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    text-align: center;
}
h2 {
    background-color: lightgray;
    font-size: 2.4mm;
    font-weight: bold;
    margin: 0;
    padding-left: 1mm;
}

.tab {
    border-bottom: solid 0.1mm rgb(207,207,207);
    min-height: 6mm;
    padding: 0.2mm 0.5mm;
    position: relative;
}
.tab:last-child {
    border-bottom: 0;
}
.icon {
    height: 32px;
    left: 1.5mm;
    position: absolute;
    top: 0.5mm;
    width: 32px;
}
.info {
    margin-left: 32px;
    overflow: hidden;
    padding-left: 3.5mm;
    white-space: nowrap;
}
.title {
    font-size: 2.4mm;
    padding-bottom: 0.5mm;
}
.url {
    color: blue;
    font-size: 1.8mm;
}
