#openRemoteTabs-button {
  list-style-image: url(chrome://weave/skin/weave-default-64.png);
}
#openRemoteTabs-button:not([disabled]):hover:active {
  list-style-image: url(chrome://weave/skin/weave-active-64.png);
}
#openRemoteTabs-button[disabled] {
  list-style-image: url(chrome://weave/skin/weave-disabled-64.png);
}

#sync-notifications-box {
  -moz-binding: url("chrome://weave/content/notification.xml#notificationbox");
  width: 30em;
  height: 30em;
  overflow: auto;
}

#sync-notifications-box notification {
  -moz-binding: url("chrome://weave/content/notification.xml#notification");
}

#sync-notifications-box .messageImage {
  width: 24px;
  height: 24px;
  padding: 3px;
}

/* Default icons for notifications */

#sync-notifications-box notification[type="info"] .messageImage {
  list-style-image: url("chrome://global/skin/icons/information-24.png");
}

#sync-notifications-box notification[type="warning"] .messageImage {
  list-style-image: url("chrome://global/skin/icons/warning-24.png");
}

#sync-notifications-box notification[type="critical"] .messageImage {
  list-style-image: url("chrome://global/skin/icons/error-24.png");
}
