#changePasswordStatus[status="idle"] > #changePasswordIcon {
  list-style-image: url("chrome://weave/skin/sync-throbber-16x16.png");
}

#changePasswordStatus[status="active"] > #changePasswordIcon {
  list-style-image: url("chrome://weave/skin/sync-throbber-16x16-active.apng");
}

#changePasswordStatus[status="error"] > #changePasswordIcon {
  list-style-image: url("chrome://weave/skin/sync-throbber-16x16-error.png");
}

/* FIXME: make this a green checkmark instead of the current blue info badge. */
#changePasswordStatus[status="success"] > #changePasswordIcon {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

/**
 * The newPassword and newPasswordAgain textboxes need to be both type="timed"
 * and type="password", but textbox elements aren't designed to accept two
 * values for "type". Nevertheless, we can make it work by setting the attribute
 * to one of the types and manually binding the elements to the other type here.
 * We bind them to "timed" here so we can toggle "password" via the attribute
 * as the user checks/unchecks the "Show Passwords" checkbox.
 */
#newPassword, #newPasswordAgain {
  -moz-binding:
    url("chrome://global/content/bindings/textbox.xml#timed-textbox");
}
