.expander-up,
.expander-down {
  min-width: 0;
  padding: 2px 0;
  -moz-padding-start: 2px;
}

.expander-up {
	list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

.expander-down {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

.expander-down:hover:active {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif");
}

.expander-up:hover:active {
	list-style-image: url("chrome://global/skin/arrow/arrow-up-hov.gif");
}

